.projects__container{
    background-color: rgb(104, 109, 118);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;

    h1 {
        font-size: 50px;
        color: rgb(238, 238, 238);
    }

    .projects__box{
        background-color: rgb(238, 238, 238);
        margin-top: 80px;
        margin-bottom: 50px;
        width: 1300px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        h2{
            color: rgb(55, 58, 64);
            font-size: 40px;
        }
        h3{
            margin-top: 20px;
            color: rgba(55, 58, 64, 0.671);
        }
        .projects__slide{
            width: 70%;
            margin-top: 20px;
            img{
                border-radius: 10px;
            }
        }
        .projects__content{
            margin-top: 50px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            font-size: 20px;
            .projects__left{
                width: 47%;
            }
            .projects__right{
                width: 47%;
                a{
                    text-decoration: none;
                    color: rgb(35, 149, 241)
                }
                th{
                    display: flex;
                    padding-right: 20px;
                    svg{
                        margin-right: 10px;
                    }
                }
                th, td{
                    padding-bottom: 20px;
                }
                
            }
            .projects__line{
                width: 2px;
                height: inherit;
                background-color: rgba(104, 109, 118, 0.568);
            }
        }
    }
}