.header__container{
    background-color: rgb(238, 238, 238);
    height: 60px;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: rgb(55, 58, 64);
    box-shadow: 0px 1px 10.6px rgba(0, 0, 0, 0.226);
    .header__menu{
        display: flex;
        p{
            margin-left: 35px;
            font-weight: bold;
        }
    }
}