@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansBold.otf') format('opentype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansLight.otf') format('opentype');
  font-weight: 300; /* light는 일반적으로 300의 폰트 가중치에 해당합니다. */
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansMedium.otf') format('opentype');
  font-weight: 500; /* medium은 일반적으로 500의 폰트 가중치에 해당합니다. */
  font-style: medium;
}
html {
  width: 100%;
  height: 100%;
  font-family: 'GmarketSans' !important;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
#root {
  width: 100%;
  height: 100%;
}

input {
  font-family: 'GmarketSans';
}
button {
  font-family: 'GmarketSans';
}
select {
  font-family: 'GmarketSans';
}
